.ReactModal__Content > div > button{
  background-color: #ffffff00;
  border: none;
}
.modal-product-header{
  text-align: center;
  margin-top: 0;
}
.modal-product-title{
  text-align: left;
}
.modal-product-price{
  color: #6c5ce7;
  font-size: 30px;
  font-weight: 700;
}
.modal-save-product-btn{
  color: white;
  background-color: #E38696;
  flex: 1;              
  padding: 0.75rem 2rem;  
  border: none;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
}
.modal-save-product-btn:hover{
  background-color: #b85a6a;
}
.modal-product-saved{
  background-color: #ce2743;
}
.modal-product-rating-score {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 0.5rem;
}